[submodule "src/lib/SimpleMath"]
	path = src/lib/SimpleMath
	url = git@github.com:hant-hub/SimpleMath.git
[submodule "lib/SimpleMath"]
	path = lib/SimpleMath
	url = git@github.com:hant-hub/SimpleMath.git
[submodule "SimpleMath"]
	path = SimpleMath
	url = git@github.com:hant-hub/SimpleMath.git
[submodule "lib/SimpleAlloc"]
	path = lib/SimpleAlloc
	url = git@github.com:hant-hub/SimpleAlloc.git
